{{#if isEditing}}
  {{view 'edit-node' value=name class="editNameInput" focus-out="acceptChanges" insert-newline="acceptChanges"}}
{{else}}
  <h2 {{action "editNode" on="doubleClick"}}>{{name}}</h2>
{{/if}}

<br />

<table class='table'>
  <tbody>
    <tr>
      <td>Last seen</td>
      <td>{{format-date last_seen_at}}</td>
    </tr>
    {{#if temperature}}
      <tr>
        <td>{{#link-to 'node.temperature' this}}Temperature{{/link-to}}</td>
        <td>{{temperature}} C</td>
      </tr>
    {{/if}}
    {{#if humidity}}
      <tr>
        <td>{{#link-to 'node.humidity' this}}Humidity{{/link-to}}</td>
        <td>{{humidity}} %</td>
      </tr>
    {{/if}}
    {{#if light}}
      <tr>
        <td>{{#link-to 'node.light' this}}Light{{/link-to}}</td>
        <td>{{light}} %</td>
      </tr>
    {{/if}}
    {{#if motion}}
      <tr>
        <td>{{#link-to 'node.motion' this}}Motion{{/link-to}}</td>
        <td>{{motion}}</td>
      </tr>
    {{/if}}
    {{#if low_battery}}
      <tr>
        <td>{{#link-to 'node.low_battery' this}}Low Battery{{/link-to}}</td>
        <td>{{low_battery}}</td>
      </tr>
    {{/if}}
    {{#if vcc}}
      <tr>
        <td>{{#link-to 'node.vcc' this}}Vcc{{/link-to}}</td>
        <td>{{vcc}} mv</td>
      </tr>
    {{/if}}
  </tbody>
</table>

{{outlet}}
